.wrap {
  width: 1520px;
  margin: 0 auto;
}
.cont {
  padding-top: 100px;
  padding-bottom: 100px;
}

.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.agmid {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.vermid {
  vertical-align: middle;
}

.brline {
  display: block;
}
.t_br {
  display: none;
}
.m_br {
  display: none;
}

.clear {
  clear: both;
  content: "";
  display: block;
}
.lh0 {
  line-height: 0 !important;
}
.mgauto {
  margin: 0 auto;
}

.fl {
  float: left;
}
.fr {
  float: right;
}
.f_none {
  float: none;
}

.fix_bg {
  background-attachment: fixed !important;
}

/* 여백 */
.ht200 {
  height: 200px;
}

/* marign-left값x(div갯수-1)만큼 100%에서 빼주고 첫번째 div에는 class에 mg0추가  */
.half_div {
  width: calc((100% - 50px) / 2);
  margin-left: 50px;
}
.three_div {
  width: calc((100% - 80px) / 3);
  margin-left: 40px;
}
.four_div {
  width: calc((100% - 90px) / 4);
  margin-left: 30px;
}
.five_div {
  width: calc((100% - 80px) / 5);
  margin-left: 20px;
}

.fs13 {
  font-size: 13px;
  line-height: 21px;
}
.fs15 {
  font-size: 15px;
  line-height: 25px;
}
.fs17 {
  font-size: 17px;
  line-height: 27px;
}
.fs18 {
  font-size: 17px;
  line-height: 25px;
}
.fs20 {
  font-size: 20px;
  line-height: 30px;
}
.fs25 {
  font-size: 25px;
  line-height: 35px;
}
.fs30 {
  font-size: 30px;
  line-height: 40px;
}
.fs35 {
  font-size: 35px;
  line-height: 45px;
}
.fs40 {
  font-size: 40px;
  line-height: 50px;
}
.fs45 {
  font-size: 45px;
  line-height: 55px;
}
.fs50 {
  font-size: 50px;
  line-height: 60px;
}

.fwlt {
  font-weight: 300;
}
.fwml {
  font-weight: 400;
}
.fwr {
  font-weight: 500;
}
.fwbl {
  font-weight: 600;
}
.fwbk {
  font-weight: 900;
}

.fcwt {
  color: #fff;
}
.fcgr {
  color: #eee;
}
.fcgy {
  color: #7c7c7c;
}
.fcdg {
  color: #4a4a4a;
}
.fcgy02 {
  color: #777777;
}

.pd0 {
  padding: 0 !important;
}

.pd20 {
  padding: 20px;
}

.pdtb10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.pdtb20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.pdtb30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.pdtb40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.pdtb50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.pdtb60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.pdtb70 {
  padding-top: 70px;
  padding-bottom: 70px;
}
.pdtb80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.pdtb90 {
  padding-top: 90px;
  padding-bottom: 90px;
}
.pdtb100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.pdtb150 {
  padding-top: 150px;
  padding-bottom: 150px;
}

.pdlr10 {
  padding-left: 10px;
  padding-right: 10px;
}
.pdlr20 {
  padding-left: 20px;
  padding-right: 20px;
}
.pdlr30 {
  padding-left: 30px;
  padding-right: 30px;
}
.pdlr40 {
  padding-left: 40px;
  padding-right: 40px;
}
.pdlr50 {
  padding-left: 50px;
  padding-right: 50px;
}
.pdlr60 {
  padding-left: 60px;
  padding-right: 60px;
}
.pdlr70 {
  padding-left: 70px;
  padding-right: 70px;
}
.pdlr80 {
  padding-left: 80px;
  padding-right: 80px;
}
.pdlr90 {
  padding-left: 90px;
  padding-right: 90px;
}
.pdlr100 {
  padding-left: 100px;
  padding-right: 100px;
}
.pdlr150 {
  padding-left: 150px;
  padding-right: 150px;
}

.pdt0 {
  padding-top: 0 !important;
}

.pdt10 {
  padding-top: 10px;
}
.pdt20 {
  padding-top: 20px;
}
.pdt30 {
  padding-top: 30px;
}
.pdt40 {
  padding-top: 40px;
}
.pdt50 {
  padding-top: 50px;
}
.pdt60 {
  padding-top: 60px;
}
.pdt70 {
  padding-top: 70px;
}
.pdt80 {
  padding-top: 80px;
}
.pdt90 {
  padding-top: 90px;
}
.pdt100 {
  padding-top: 100px;
}
.pdt150 {
  padding-top: 150px;
}

.pdl0 {
  padding-left: 0 !important;
}

.pdl10 {
  padding-left: 10px;
}
.pdl20 {
  padding-left: 20px;
}
.pdl30 {
  padding-left: 30px;
}
.pdl40 {
  padding-left: 40px;
}
.pdl50 {
  padding-left: 50px;
}
.pdl60 {
  padding-left: 60px;
}
.pdl70 {
  padding-left: 70px;
}
.pdl80 {
  padding-left: 80px;
}
.pdl90 {
  padding-left: 90px;
}
.pdl100 {
  padding-left: 100px;
}
.pdl150 {
  padding-left: 150px;
}

.pdr0 {
  padding-right: 0 !important;
}

.pdr10 {
  padding-right: 10px;
}
.pdr20 {
  padding-right: 20px;
}
.pdr30 {
  padding-right: 30px;
}
.pdr40 {
  padding-right: 40px;
}
.pdr50 {
  padding-right: 50px;
}
.pdr60 {
  padding-right: 60px;
}
.pdr70 {
  padding-right: 70px;
}
.pdr80 {
  padding-right: 80px;
}
.pdr90 {
  padding-right: 90px;
}
.pdr100 {
  padding-right: 100px;
}
.pdr150 {
  padding-right: 150px;
}

.pdb0 {
  padding-bottom: 0 !important;
}

.pdb10 {
  padding-bottom: 10px;
}
.pdb20 {
  padding-bottom: 20px;
}
.pdb30 {
  padding-bottom: 30px;
}
.pdb40 {
  padding-bottom: 40px;
}
.pdb50 {
  padding-bottom: 50px;
}
.pdb60 {
  padding-bottom: 60px;
}
.pdb70 {
  padding-bottom: 70px;
}
.pdb80 {
  padding-bottom: 80px;
}
.pdb90 {
  padding-bottom: 90px;
}
.pdb100 {
  padding-bottom: 100px;
}
.pdb150 {
  padding-bottom: 150px;
}

.mg0 {
  margin: 0 !important;
}

.mgtb10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mgtb20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mgtb30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.mgtb40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.mgtb50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.mgtb60 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.mgtb70 {
  margin-top: 70px;
  margin-bottom: 70px;
}
.mgtb80 {
  margin-top: 80px;
  margin-bottom: 80px;
}
.mgtb90 {
  margin-top: 90px;
  margin-bottom: 90px;
}
.mgtb100 {
  margin-top: 100px;
  margin-bottom: 100px;
}
.mgtb150 {
  margin-top: 150px;
  margin-bottom: 150px;
}

.mglr10 {
  margin-left: 10px;
  margin-right: 10px;
}
.mglr20 {
  margin-left: 20px;
  margin-right: 20px;
}
.mglr30 {
  margin-left: 30px;
  margin-right: 30px;
}
.mglr40 {
  margin-left: 40px;
  margin-right: 40px;
}
.mglr50 {
  margin-left: 50px;
  margin-right: 50px;
}
.mglr60 {
  margin-left: 60px;
  margin-right: 60px;
}
.mglr70 {
  margin-left: 70px;
  margin-right: 70px;
}
.mglr80 {
  margin-left: 80px;
  margin-right: 80px;
}
.mglr90 {
  margin-left: 90px;
  margin-right: 90px;
}
.mglr100 {
  margin-left: 100px;
  margin-right: 100px;
}
.mglr150 {
  margin-left: 150px;
  margin-right: 150px;
}

.mgt0 {
  margin-top: 0 !important;
}

.mgt10 {
  margin-top: 10px;
}
.mgt20 {
  margin-top: 20px;
}
.mgt30 {
  margin-top: 30px;
}
.mgt40 {
  margin-top: 40px;
}
.mgt50 {
  margin-top: 50px;
}
.mgt60 {
  margin-top: 60px;
}
.mgt70 {
  margin-top: 70px;
}
.mgt80 {
  margin-top: 80px;
}
.mgt90 {
  margin-top: 90px;
}
.mgt100 {
  margin-top: 100px;
}
.mgt150 {
  margin-top: 150px;
}

.mgl0 {
  margin-left: 0 !important;
}

.mgl10 {
  margin-left: 10px;
}
.mgl20 {
  margin-left: 20px;
}
.mgl30 {
  margin-left: 30px;
}
.mgl40 {
  margin-left: 40px;
}
.mgl50 {
  margin-left: 50px;
}
.mgl60 {
  margin-left: 60px;
}
.mgl70 {
  margin-left: 70px;
}
.mgl80 {
  margin-left: 80px;
}
.mgl90 {
  margin-left: 90px;
}
.mgl100 {
  margin-left: 100px;
}
.mgl150 {
  margin-left: 150px;
}

.mgr0 {
  margin-right: 0 !important;
}

.mgr10 {
  margin-right: 10px;
}
.mgr20 {
  margin-right: 20px;
}
.mgr30 {
  margin-right: 30px;
}
.mgr40 {
  margin-right: 40px;
}
.mgr50 {
  margin-right: 50px;
}
.mgr60 {
  margin-right: 60px;
}
.mgr70 {
  margin-right: 70px;
}
.mgr80 {
  margin-right: 80px;
}
.mgr90 {
  margin-right: 90px;
}
.mgr100 {
  margin-right: 100px;
}
.mgr150 {
  margin-right: 150px;
}

.mgb0 {
  margin-bottom: 0 !important;
}

.mgb10 {
  margin-bottom: 10px;
}
.mgb20 {
  margin-bottom: 20px;
}
.mgb30 {
  margin-bottom: 30px;
}
.mgb40 {
  margin-bottom: 40px;
}
.mgb50 {
  margin-bottom: 50px;
}
.mgb60 {
  margin-bottom: 60px;
}
.mgb70 {
  margin-bottom: 70px;
}
.mgb80 {
  margin-bottom: 80px;
}
.mgb90 {
  margin-bottom: 90px;
}
.mgb100 {
  margin-bottom: 100px;
}
.mgb150 {
  margin-bottom: 150px;
}

@media screen and (min-width: 769px) and (max-width: 1500px) {
  /* tablet */
  .wrap {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
  }
  .cont {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .brline {
    display: none;
  }
  .t_br {
    display: block;
  }
  .m_br {
    display: none;
  }

  img.fullimage {
    width: 100%;
  }

  .fl {
    float: left;
  }
  .fr {
    float: right;
  }

  .half_div,
  .four_div {
    width: 48%;
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
  .three_div {
    width: 30%;
    margin-left: 5%;
  }
  .five_div {
    width: calc((100% - 80px) / 5);
    margin-left: 20px;
  }

  .fs13 {
    font-size: 11px;
    line-height: 17px;
  }
  .fs15 {
    font-size: 13px;
    line-height: 21px;
  }
  .fs17 {
    font-size: 15px;
    line-height: 25px;
  }
  .fs20 {
    font-size: 17px;
    line-height: 27px;
  }
  .fs25 {
    font-size: 20px;
    line-height: 30px;
  }
  .fs30 {
    font-size: 25px;
    line-height: 35px;
  }
  .fs35 {
    font-size: 30px;
    line-height: 40px;
  }
  .fs40 {
    font-size: 35px;
    line-height: 45px;
  }
  .fs45 {
    font-size: 35px;
    line-height: 45px;
  }
  .fs50 {
    font-size: 35px;
    line-height: 45px;
  }

  .pdtb10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .pdtb20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .pdtb30 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .pdtb40 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .pdtb50 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .pdtb60 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .pdtb70 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .pdtb80 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .pdtb90 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .pdtb100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pdtb150 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .pdlr10 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .pdlr20 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .pdlr30 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .pdlr40 {
    padding-left: 30px;
    padding-right: 30px;
  }
  .pdlr50 {
    padding-left: 30px;
    padding-right: 30px;
  }
  .pdlr60 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .pdlr70 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .pdlr80 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .pdlr90 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .pdlr100 {
    padding-left: 50px;
    padding-right: 50px;
  }
  .pdlr150 {
    padding-left: 80px;
    padding-right: 80px;
  }

  .pdt10 {
    padding-top: 10px;
  }
  .pdt20 {
    padding-top: 20px;
  }
  .pdt30 {
    padding-top: 20px;
  }
  .pdt40 {
    padding-top: 30px;
  }
  .pdt50 {
    padding-top: 30px;
  }
  .pdt60 {
    padding-top: 40px;
  }
  .pdt70 {
    padding-top: 40px;
  }
  .pdt80 {
    padding-top: 40px;
  }
  .pdt90 {
    padding-top: 40px;
  }
  .pdt100 {
    padding-top: 50px;
  }
  .pdt150 {
    padding-top: 80px;
  }

  .pdl10 {
    padding-left: 10px;
  }
  .pdl20 {
    padding-left: 20px;
  }
  .pdl30 {
    padding-left: 20px;
  }
  .pdl40 {
    padding-left: 30px;
  }
  .pdl50 {
    padding-left: 30px;
  }
  .pdl60 {
    padding-left: 40px;
  }
  .pdl70 {
    padding-left: 40px;
  }
  .pdl80 {
    padding-left: 40px;
  }
  .pdl90 {
    padding-left: 40px;
  }
  .pdl100 {
    padding-left: 50px;
  }
  .pdl150 {
    padding-left: 80px;
  }

  .pdr10 {
    padding-right: 10px;
  }
  .pdr20 {
    padding-right: 20px;
  }
  .pdr30 {
    padding-right: 20px;
  }
  .pdr40 {
    padding-right: 30px;
  }
  .pdr50 {
    padding-right: 30px;
  }
  .pdr60 {
    padding-right: 40px;
  }
  .pdr70 {
    padding-right: 40px;
  }
  .pdr80 {
    padding-right: 40px;
  }
  .pdr90 {
    padding-right: 40px;
  }
  .pdr100 {
    padding-right: 50px;
  }
  .pdr150 {
    padding-right: 80px;
  }

  .pdb10 {
    padding-bottom: 10px;
  }
  .pdb20 {
    padding-bottom: 20px;
  }
  .pdb30 {
    padding-bottom: 20px;
  }
  .pdb40 {
    padding-bottom: 30px;
  }
  .pdb50 {
    padding-bottom: 30px;
  }
  .pdb60 {
    padding-bottom: 40px;
  }
  .pdb70 {
    padding-bottom: 40px;
  }
  .pdb80 {
    padding-bottom: 40px;
  }
  .pdb90 {
    padding-bottom: 40px;
  }
  .pdb100 {
    padding-bottom: 50px;
  }
  .pdb150 {
    padding-bottom: 80px;
  }

  .mgtb10 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mgtb20 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mgtb30 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mgtb40 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .mgtb50 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .mgtb60 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .mgtb70 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .mgtb80 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .mgtb90 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .mgtb100 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .mgtb150 {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .mglr10 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .mglr20 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .mglr30 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .mglr40 {
    margin-left: 30px;
    margin-right: 30px;
  }
  .mglr50 {
    margin-left: 30px;
    margin-right: 30px;
  }
  .mglr60 {
    margin-left: 40px;
    margin-right: 40px;
  }
  .mglr70 {
    margin-left: 40px;
    margin-right: 40px;
  }
  .mglr80 {
    margin-left: 40px;
    margin-right: 40px;
  }
  .mglr90 {
    margin-left: 40px;
    margin-right: 40px;
  }
  .mglr100 {
    margin-left: 50px;
    margin-right: 50px;
  }
  .mglr150 {
    margin-left: 80px;
    margin-right: 80px;
  }

  .mgt10 {
    margin-top: 10px;
  }
  .mgt20 {
    margin-top: 20px;
  }
  .mgt30 {
    margin-top: 20px;
  }
  .mgt40 {
    margin-top: 30px;
  }
  .mgt50 {
    margin-top: 30px;
  }
  .mgt60 {
    margin-top: 40px;
  }
  .mgt70 {
    margin-top: 40px;
  }
  .mgt80 {
    margin-top: 40px;
  }
  .mgt90 {
    margin-top: 40px;
  }
  .mgt100 {
    margin-top: 50px;
  }
  .mgt150 {
    margin-top: 80px;
  }

  .mgl10 {
    margin-left: 10px;
  }
  .mgl20 {
    margin-left: 20px;
  }
  .mgl30 {
    margin-left: 20px;
  }
  .mgl40 {
    margin-left: 30px;
  }
  .mgl50 {
    margin-left: 30px;
  }
  .mgl60 {
    margin-left: 40px;
  }
  .mgl70 {
    margin-left: 40px;
  }
  .mgl80 {
    margin-left: 40px;
  }
  .mgl90 {
    margin-left: 40px;
  }
  .mgl100 {
    margin-left: 50px;
  }
  .mgl150 {
    margin-left: 80px;
  }

  .mgr10 {
    margin-right: 10px;
  }
  .mgr20 {
    margin-right: 20px;
  }
  .mgr30 {
    margin-right: 20px;
  }
  .mgr40 {
    margin-right: 30px;
  }
  .mgr50 {
    margin-right: 30px;
  }
  .mgr60 {
    margin-right: 40px;
  }
  .mgr70 {
    margin-right: 40px;
  }
  .mgr80 {
    margin-right: 40px;
  }
  .mgr90 {
    margin-right: 40px;
  }
  .mgr100 {
    margin-right: 50px;
  }
  .mgr150 {
    margin-right: 80px;
  }

  .mgb10 {
    margin-bottom: 10px;
  }
  .mgb20 {
    margin-bottom: 20px;
  }
  .mgb30 {
    margin-bottom: 20px;
  }
  .mgb40 {
    margin-bottom: 30px;
  }
  .mgb50 {
    margin-bottom: 30px;
  }
  .mgb60 {
    margin-bottom: 40px;
  }
  .mgb70 {
    margin-bottom: 40px;
  }
  .mgb80 {
    margin-bottom: 40px;
  }
  .mgb90 {
    margin-bottom: 40px;
  }
  .mgb100 {
    margin-bottom: 50px;
  }
  .mgb150 {
    margin-bottom: 80px;
  }
}

@media (max-width: 768px) {
  /* mobile */
  .wrap {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
  }
  .cont {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .brline {
    display: none;
  }
  .t_br {
    display: none;
  }
  .m_none {
    display: none;
  }
  .m_br {
    display: block;
  }

  img.fullimage {
    width: 100%;
  }

  .fl {
    float: none;
    width: 100%;
  }
  .fr {
    float: none;
    width: 100%;
  }

  .half_div,
  .three_div,
  .four_div,
  .five_div {
    width: 100%;
    margin-left: 0;
  }

  .fs13 {
    font-size: 11px;
    line-height: 17px;
  }
  .fs15 {
    font-size: 13px;
    line-height: 21px;
  }
  .fs17 {
    font-size: 13px;
    line-height: 21px;
  }
  .fs20 {
    font-size: 15px;
    line-height: 25px;
  }
  .fs25 {
    font-size: 17px;
    line-height: 27px;
  }
  .fs30 {
    font-size: 20px;
    line-height: 30px;
  }
  .fs35 {
    font-size: 20px;
    line-height: 30px;
  }
  .fs40 {
    font-size: 25px;
    line-height: 35px;
  }
  .fs45 {
    font-size: 25px;
    line-height: 35px;
  }
  .fs50 {
    font-size: 25px;
    line-height: 35px;
  }

  .pdtb10,
  .pdtb20,
  .pdtb30 {
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .pdtb40,
  .pdtb50 {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .pdtb60,
  .pdtb70,
  .pdtb80,
  .pdtb90 {
    padding-top: 6%;
    padding-bottom: 6%;
  }
  .pdtb100 {
    padding-top: 8%;
    padding-bottom: 8%;
  }
  .pdtb150 {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .pdlr10,
  .pdlr20,
  .pdlr30 {
    padding-left: 3%;
    padding-right: 3%;
  }
  .pdlr40,
  .pdlr50 {
    padding-left: 5%;
    padding-right: 5%;
  }
  .pdlr60,
  .pdlr70,
  .pdlr80,
  .pdlr90 {
    padding-left: 6%;
    padding-right: 6%;
  }
  .pdlr100 {
    padding-left: 8%;
    padding-right: 8%;
  }
  .pdlr150 {
    padding-left: 10%;
    padding-right: 10%;
  }

  .pdt10,
  .pdt20,
  .pdt30 {
    padding-top: 3%;
  }
  .pdt40,
  .pdt50 {
    padding-top: 5%;
  }
  .pdt60,
  .pdt70,
  .pdt80,
  .pdt90 {
    padding-top: 6%;
  }
  .pdt100 {
    padding-top: 8%;
  }
  .pdt150 {
    padding-top: 10%;
  }

  .pdl10,
  .pdl20,
  .pdl30 {
    padding-left: 3%;
  }
  .pdl40,
  .pdl50 {
    padding-left: 5%;
  }
  .pdl60,
  .pdl70,
  .pdl80,
  .pdl90 {
    padding-left: 6%;
  }
  .pdl100 {
    padding-left: 8%;
  }
  .pdl150 {
    padding-left: 10%;
  }

  .pdr10,
  .pdr20,
  .pdr30 {
    padding-right: 3%;
  }
  .pdr40,
  .pdr50 {
    padding-right: 5%;
  }
  .pdr60,
  .pdr70,
  .pdr80,
  .pdr90 {
    padding-right: 6%;
  }
  .pdr100 {
    padding-right: 8%;
  }
  .pdr150 {
    padding-right: 10%;
  }

  .pdb10,
  .pdb20,
  .pdb30 {
    padding-bottom: 3%;
  }
  .pdb40,
  .pdb50 {
    padding-bottom: 5%;
  }
  .pdb60,
  .pdb70,
  .pdb80,
  .pdb90 {
    padding-bottom: 6%;
  }
  .pdb100 {
    padding-bottom: 8%;
  }
  .pdb150 {
    padding-bottom: 10%;
  }

  .mgtb10,
  .mgtb20,
  .mgtb30 {
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .mgtb40,
  .mgtb50 {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .mgtb60,
  .mgtb70,
  .mgtb80,
  .mgtb90 {
    margin-top: 6%;
    margin-bottom: 6%;
  }
  .mgtb100 {
    margin-top: 8%;
    margin-bottom: 8%;
  }
  .mgtb150 {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .mglr10,
  .mglr20,
  .mglr30 {
    margin-left: 3%;
    margin-right: 3%;
  }
  .mglr40,
  .mglr50 {
    margin-left: 5%;
    margin-right: 5%;
  }
  .mglr60,
  .mglr70,
  .mglr80,
  .mglr90 {
    margin-left: 6%;
    margin-right: 6%;
  }
  .mglr100 {
    margin-left: 8%;
    margin-right: 8%;
  }
  .mglr150 {
    margin-left: 10%;
    margin-right: 10%;
  }

  .mgt10,
  .mgt20,
  .mgt30 {
    margin-top: 3%;
  }
  .mgt40,
  .mgt50 {
    margin-top: 5%;
  }
  .mgt60,
  .mgt70,
  .mgt80,
  .mgt90 {
    margin-top: 6%;
  }
  .mgt100 {
    margin-top: 8%;
  }
  .mgt150 {
    margin-top: 10%;
  }

  .mgl10,
  .mgl20,
  .mgl30 {
    margin-left: 3%;
  }
  .mgl40,
  .mgl50 {
    margin-left: 5%;
  }
  .mgl60,
  .mgl70,
  .mgl80,
  .mgl90 {
    margin-left: 6%;
  }
  .mgl100 {
    margin-left: 8%;
  }
  .mgl150 {
    margin-left: 10%;
  }

  .mgr10,
  .mgr20,
  .mgr30 {
    margin-right: 3%;
  }
  .mgr40,
  .mgr50 {
    margin-right: 5%;
  }
  .mgr60,
  .mgr70,
  .mgr80,
  .mgr90 {
    margin-right: 6%;
  }
  .mgr100 {
    margin-right: 8%;
  }
  .mgr150 {
    margin-right: 10%;
  }

  .mgb10,
  .mgb20,
  .mgb30 {
    margin-bottom: 3%;
  }
  .mgb40,
  .mgb50 {
    margin-bottom: 5%;
  }
  .mgb60,
  .mgb70,
  .mgb80,
  .mgb90 {
    margin-bottom: 6%;
  }
  .mgb100 {
    margin-bottom: 8%;
  }
  .mgb150 {
    margin-bottom: 10%;
  }
}
